<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .my {
      margin: 1% 0;
    }
  </style>
</head>
<body>
  <h1><%- title %></h1>
  <!-- <h2>Get 요청</h1>
  <form action="/getform" method="get" name="getform">
    <input 
      class="my" 
      type="text" 
      placeholder="ID는 최소 3글자" 
      name="id" 
      required minlength="3" 
      pattern="^([0-9]){3,}">
    <input class="my" type="password" placeholder="PW는 최소 4글자" name="password" required minlength="4"> <br>
    <input class="my" placeholder="email is required" type="email" name="email" required>
    <input class="my" type="number" name="grade">

    <button type="submit">제출</button>
  </form>
  <h2>Post 요청</h2> -->
  <!-- input title은 안내를 작성할 수 있음 주어진 형식에 대한 힌트를 줄 수 있다. -->
  <!-- required는 값이 있는지 없는지 체크 -->
  <!-- pattern값에 들어가 있는 검증을 의미한다. -->
  <!-- 프론트엔드에서 정규표현식을 사용하게되면 브라우저에서 사용자가 임의로 바꾸어 설정할 수 있으므로 -->
  <!-- 백엔드에서도 두 번 체크한다.ㅏ -->
  <!-- <form action="/postform" method="post" name="postform">
    <input 
      ype="text" 
      placeholder="ID" 
      name="id" 
      required
      pattern="^([a-zA-Z0-9가-힣]){4,}$"
      title="대소문자 한글 숫자 4자이상"
    >
    <input 
      type="password" 
      placeholder="PW" 
      name="password" 
      required
      pattern="^([a-z0-9]){8,12}$"
      title="영소문자 숫자 8이상 12이하"
    >
    <button type="submit">제출</button>
  </form> -->

  <form action="./postform" method="post" style="width: 35%; height:50vh; display: flex; flex-direction: column; justify-content: space-around;">
    <div>
      <label for="name">이름</label> 
      <input type="text" name="name" style="width: 30%;" id="name" required>
    </div>
    <fieldset>
      <legend>성별</legend>
      <input type="radio" name="gender" value="male" required id="male"> <label for="male">남자</label>
      <input type="radio" name="gender" value="female" required id="female"> <label for="female"> 여자</label>
    </fieldset>
    <fieldset>
      <legend>생년월일</legend>
      <select name="year" id="year">
          <% for (let i = 1900; i <= 2023; i++) { %>
            <option value="<%=i %>"><%= i %><span>년</span></option>
          <% } %>
      </select>
      <select name="month" id="month">
        <% for (let i = 1; i <= 12; i++) { %>
          <option value="<%=i %>"><%=i%><span>월</span></option>
        <% } %>
      </select>
      <select name="days" id="days">
        <% for (let i = 1; i <= 31; i++) { %>
          <option value="<%=i %>"><%=i%><span>일</span></%option>
        <% } %>
      </select>
    </fieldset>
    <fieldset>
      <legend >관심사</legend>
      <input type="checkbox" name="travel" id="travel"> <label for="travel">여행</label>
      <input type="checkbox" name="fashion" id="fashion"> <label for="fashion">패션</label>
      <input type="checkbox" name="food" id="food"> <label for="food">음식</label>
    </fieldset>
    <fieldset>
      <legend >선택</legend>
      <label for="color">좋아하는 색상</label> <input type="color" name="color" id="color"><br>
      <label for="number">좋아하는 숫자</label> <input type="number" name="number" id="number"> 
    </fieldset>
    <button type="submit" style="width:20%;">회원가입</button>
  </form>
</body>
</html>